body {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	background-color: #E0ECF8 !important;
	background: #E0ECF8 !important;
	font-size: 10px;
}

#page{
  height: 100%;
}

div#ui-datepicker-div{
  z-index: 2110 !important;
}

/***************************************************************          ***************************************************************/
/***************************************************************  HEADER    ***************************************************************/
/***************************************************************          ***************************************************************/
#idWellHeader{
  background: #3265ce;
  margin-bottom: 0;
}

#idPanelHeader label{
  color:white;
  font-size: 250%;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

#imageCabecera{
  float:right;
  width: auto;
}

#idWeelSubHeader, #idWeelSubHeader2{
  height: 2px;
  margin-top: -1px;
  padding-top: 0%;
  background: rgb(129, 159, 247);
  border-color: rgb(129, 159, 247);
  color: white;
}

#idWeelSubHeader label, #idWeelSubHeader2 label{
    font-weight: normal;
    font-size: initial;
  	color: white;
}

#idLogout, #idLogout2{
  	color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
}

#idLogout:hover, #idLogout2:hover{
  	color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
}

#idWeelSubHeaderBotones{
	background: #89B9E0;
	margin-top: -20px;
}

.linkHeader{
	color: #ffffff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
}


/***************************************************************          ***************************************************************/
/***************************************************************  CONTENT     ***************************************************************/
/***************************************************************          ***************************************************************/
#content{
  margin-top: -20px;
  height: 100%;
}

/***************************************************************          ***************************************************************/
/***************************************************************   LOGIN      ***************************************************************/
/***************************************************************          ***************************************************************/
.panelLogin{
  width: 30%;
  height: 210px;
  background: #3265ce;
    border-style: groove;
    border-radius: 5px;
  position: absolute;
  top: 50%; /* Buscamos el centro horizontal (relativo) del navegador */
  left: 50%; /* Buscamos el centro vertical (relativo) del navegador */
  margin-top: -8%; /* Restamos la mitad de la altura del objeto con un margin-top */
  margin-left: -17%; /* Restamos la mitad de la anchura del objeto con un margin-left */
  padding-top: 1%;
}

.bPanelLogin{
  color: #ffffff;
}

#idPanelLogin_header{
  text-align: center;
  background: #ffffff;
}

#idWellLogin.well{
	background: transparent !important;
}

#idPanelLoginBlockUI{
	width: 320px;
}

@media screen and (min-width: 1600px) {
    body {
        background-color: red;
    }
    #idPanelLoginBlockUI{
    	width: 400px;
    }
}
/***************************************************************          ***************************************************************/
/***************************************************************   INDEX      ***************************************************************/
/***************************************************************          ***************************************************************/

#idWellIndex.well{
	background: transparent !important;
}

/*************************************************************** 			    ***************************************************************/
/*************************************************************** 	COMUN       ***************************************************************/
/*************************************************************** 			    ***************************************************************/
.derecha{
	float: right;
}
.izquierda{
	float: left;
}

.well{
	border: none !important;
    border-radius: 0px !important;
}

.ancho100{
	width: 100%;
}

.ancho96{
	width: 96%;
}

.ancho95{
	width: 95%;
}

.ancho90{
	width: 90%;
}

.ancho80{
	width: 80%;
}

.ancho70{
	width: 70% !important;
}

.ancho60{
	width: 60%;
}

.ancho50{
	width: 50%;
}

.ancho47{
	width: 47%;
}

.ancho40{
	width: 40%;
}

.ancho30{
	width: 30%;
}

.ancho25{
	width: 25%;
}

.ancho20{
	width: 20%;
}

.ancho15{
	width: 15%;
}

.ancho11{
	width: 11%;
}

.ancho10{
	width: 10%;
}

.ancho5{
	width: 5%;
}

.marginl5{
	margin-left: 5%;
}

.marginl2{
	margin-left: 2%;
}

.marginr2{
	margin-right: 2%;
}

.margint2{
	margin-top: 2%;
}


.filtro-select-100 .ui-selectonemenu {
	width: 100%;
	min-width: 100%;
	padding-right: 0px; 
}

.filtro-select-100 .ui-selectonemenu-trigger{
	width: 24px !important;
}

.panelGridTransSinBordes .ui-widget-content {
	background:none !important;
}

.panelGridTransSinBordes tr{
	border:none !important;
}

.panelGridTransSinBordes td{
	border:none !important;
}

.calendarAncho100 input{
	width: 100%;
}

/*************************************************************** 			    ***************************************************************/
/*************************************************************** 	ENTIDADES   ***************************************************************/
/*************************************************************** 			    ***************************************************************/

/*************************************************************** 	FIELDSETS   ***************************************************************/

#fSEntidadesFiltro{
	width: 94%;
	margin-left: 3%;
	margin-top: 3%;
}

#fSEntidadesFiltro legend{
	width: auto !important;
	margin-bottom: 0px !important;
	font-size: 14px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  	font-weight: bold !important;
    line-height: 1.1 !important;
 	line-height: 1.0 !important;
 	webkit-box-shadow:none !important;
}

#fSEntidadesCesiones{
	width: 94%;
	margin-left: 3%;
	margin-top: 1%;
}

#fSEntidadesCesiones legend{
	width: auto !important;
	margin-bottom: 0px !important;
	font-size: 14px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  	font-weight: bold !important;
    line-height: 1.1 !important;
 	line-height: 1.0 !important;
 	webkit-box-shadow:none !important;
}

#fSEntidadesConvenios{
	width: 94%;
	margin-left: 3%;
	margin-top: 1%;
}

#fSEntidadesConvenios legend{
	width: auto !important;
	margin-bottom: 0px !important;
	font-size: 14px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  	font-weight: bold !important;
    line-height: 1.1 !important;
 	line-height: 1.0 !important;
 	webkit-box-shadow:none !important;
}

/*************************************************************** 	TABLAS   ***************************************************************/

#tablaConvenios, #tablaCesiones{
	margin-top: 10px;
	margin-bottom: 10px;
}

#tablaConvenios_head th, #tablaCesiones_head th{
 background: rgb(32, 64, 128);
 color: #ffffff;
 font-weight: lighter;
}


#tablaConvenios_paginator_bottom, #tablaCesiones_paginator_bottom{
  background:#ceddeb !important;
  border:none !important;
  font-size: 80%;
}

#tablaConvenios_paginator_bottom a, #tablaCesiones_paginator_bottom a{
	font-size:13px !important;
	font-weight: normal;
}

/*************************************************************** 	DIALOGS   ***************************************************************/

#cesionDialog, #convenioDialog {
	width: 90% !important;
}

#cesionDialog div.ui-widget-content, #convenioDialog div.ui-widget-content{
	background: #E0ECF8;
}

#fSEntidadesDialogEquipamiento legend, #fSEntidadesCesionesDialogContactos legend, #fSEntidadesCesionesDialogDocumentos legend{
	width: auto !important;
	margin-bottom: 0px !important;
	font-size: 14px !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  	font-weight: bold !important;
    line-height: 1.1 !important;
 	line-height: 1.0 !important;
 	webkit-box-shadow:none !important;
}