<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Organization</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 text-center *ngIf="organization">{{organization.name}}</h2>
  <h5 text-center *ngIf="organization">Created by {{organization.creatorName}}</h5>

  <h3>Teams</h3>
  <ion-list *ngIf="organization">
    <button ion-item *ngFor="let team of organization.teams">
      <div class="item-note">{{team.name}}</div>
    </button>
  </ion-list>

  <p>
    <button ion-button full (click)="goToCreateTeamPage()">Add Team</button>
  </p>

  <h3>Administrators</h3>
  <ion-list *ngIf="organization">
    <button ion-item *ngFor="let administrator of organization.administrators">
      <div class="item-note">{{administrator.username}}</div>
    </button>
  </ion-list>

  <p *ngIf="organization">
    <button ion-button full (click)="findListBUserToBeAdministrator()">Add an Administrator</button>
  </p>

  <p *ngIf="organization">
    <button ion-button full color="danger" (click)="deleteOrganization()" [disabled]="organization.teams.length>0">Delete</button>
  </p>

</ion-content>
